{% extends "core/base.html" %}
{% block title %}University of Basel – History{% endblock %}
{% block content %}
<div class="card">
  <h1>History of the University of Basel</h1>
  <br>
  <p><strong>As the oldest university in Switzerland, the University of Basel has a fascinating history of teaching
      and research going back over 550 years.</strong></p>
  <br>
  <p>The university opened with a mass held at Basel Minster on 4 April 1460. It has undergone dynamic development
    ever since its inception. During the first year following its founding, the University Register in Basel
    listed 226 students and lecturers. Today, the seven faculties at the University of Basel have around 13,000
    students and over 350 professors.</p>
  <br>
  <br>

  <h4>Four faculties become seven</h4>
  <br>

  <p>From the very beginning, the basic organizational structure was comprised of four faculties: Theology, Law,
    Medicine along with the Faculty of Arts <em>(septem artes liberales),</em> which later became the Faculty of
    Philosophy. The Faculty of Arts sought to provide a solid basis of knowledge and prepare students for studies
    in theology, law and medicine.</p>
  <br>

  <p>While the division into four faculties barely changed during the first few centuries, the 19th century saw
    greater differentiation, which led to the founding of the Faculty of Science in 1937. The Faculty of
    Humanities continued to include a broad spectrum of arts-, culture- and social science-related disciplines
    until the economic sciences formed a separate faculty in 1997. In 2003, Psychology became its own faculty.</p>
  <br>
  <br>

  <h4>Periods of prosperity and of stagnation</h4>
  <br>

  <p>During its 550 years, the University of Basel has always experienced periods of upswing and of serious
    crises. The successful founding phase was followed by the first conflicts involving costs and the university
    model with which Basel was to align itself. There were also problems when Basel joined the Swiss Confederation
    in 1501, which was accompanied by a drop in enrolment.</p>
  <br>

  <p>The Reformation years were a true test for an institution so strongly shaped by religion. The cleft between
    teaching staff who supported and who were opposed to the Reformation continued to grow wider. The conflicts
    continued to escalate until only a single student was still enrolled in the university in 1528. Nevertheless,
    activity at the university never ceased altogether. In 1531, for example, the first public anatomical
    dissection was conducted by the Faculty of Medicine, marking the start of a long history of successful
    achievements in the field of anatomy in Basel. As a result, the university gained a position of international
    prominence, particularly due to its relative denominational liberalness at the time.</p>
  <br>
  <br>

  <h4>A place of cultural reflection</h4>
  <br>

  <p>Since the years of its founding, the university has also been characterized as a place of cultural
    reflection. Much of this owes itself to book printing as well as the university collections that have grown in
    size since the 15th century, creating the foundation for the city’s internationally renowned museums. Numerous
    scholars such as Erasmus of Rotterdam, who spent time in Basel, shaped the university and helped establish the
    city’s reputation as a center of humanism. This is documented by valuable historic artifacts in the University
    Library, which is presently one of the largest libraries in Switzerland.</p>
  <br>
  <br>

  <h4>Debate surrounding dissolution of the university</h4>
  <br>

  <p>During the 17th and 18th centuries, the tenuous relationship between the university and the government
    repeatedly gave rise to discussions. In the course of revolution and the Helvetic Republic, the university
    experienced another existential crisis which raised discussions of dissolving the university. In 1818, the
    crisis was initially averted through reorganization, which resulted in the university forfeiting its last
    remaining privileges and submission to state control.</p>
  <br>

  <p>The 1833 split of the Canton of Basel and the resultant separation of assets between Basel-Stadt and
    Basel-Landschaft presented the university with an enormous challenge. Thanks to the extraordinary commitment
    on the part of the citizens of Basel, the crisis was resolved.</p>
  <br>
  <br>

  <h4>A broad range of disciplines – a long tradition</h4>
  <br>

  <p>From the start, academics at the university have always been characterized by a broad range of disciplines.
    The outstanding achievements in the most diverse of fields have shaped the reputation of the university over
    the centuries. The task is to preserve this in the face of global competition.</p>
  <br>

  <p>The natural sciences, which have become increasingly important since the 19th century, play a considerable
    role in this respect. As early as the 17th century, the University of Basel pioneered this development along
    with the famous mathematicians and physicists from the Bernoulli family. Today, life sciences make up one
    particular research focus and are of great economic importance to the region.</p>
  <br>
  <br>

  <h4>Intense growth during the 20th century</h4>
  <br>

  <p>The 20th century has been marked by growth, despite the political and societal challenges that faced the
    University of Basel through two world wars. The university accomplished something innovative by expanding
    academics beyond just students and researchers. A college of further education <em>(Volkshochschule)</em> was
    founded in 1919. Today, it is a an independent institution. In 1997, the University for Seniors was
    introduced, and the Children’s University was started in 2004.</p>
  <br>

  <p>In contrast, the admittance of women to the University of Basel was a rather belated development. It was only
    in 1890 that women were allowed to study here. 1928 was the first year in which a woman was permitted to teach
    as an associate professor, and a woman was appointed a bona fide professorship for the first time in 1964.
    Today, women comprise about 54 percent of the student body.</p>
  <br>

  <p>The last quarter of the 20th century has been shaped by discussions about retracting state control in order
    to give the university more autonomy. This has led to an institutional shift in which the university itself
    has played a major role. The higher education institution gained its independence from the state sponsors,
    thus changing its relationship to government and society. The participation of the Canton of Basel-Landschaft
    in the University of Basel, which began in 1996, was further developed into a joint sponsorship of the two
    cantons of Basel-Stadt and Basel-Landschaft with the state treaty of 2006 and the referendum of 2007.</p>
  <br>

  <p>At the same time, activities within the university became increasingly dynamic, which has manifested itself
    in the form of new fields and faculties, a restructuring of courses of studies to comply with the Bologna
    reform, as well as partnerships with other higher education institutions.</p>
  <br>

  <p>Font: <a href="https://unigeschichte.unibas.ch/en/" target="_blank">History of the
      University website</a>.</p>
</div>
{% endblock %}